<!DOCTYPE html>
<html lang="en">
<head>
	<title>Coming Soon</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--	<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"/> -->
<!--===============================================================================================-->	
	<link href="https://basketgate.ai/favicon.ico" rel="icon" type="image/png">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/animate/animate.css') }}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/select2/select2.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/util.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
<!--===============================================================================================-->

</head>
<body>

<div class="font_preload" style="opacity: 0">
    <span style="font-family: 'Alef','Barlow', 'Ubuntu-Regular'"></span>
</div>


        <div class="page-logo">
			<!--<a  href="https://basketgate.ai/"> -->
			<a href="https://keep.google.com/u/0/?usp=dot_new#home">
            <img alt="Walmart Corporate Homepage"
                 class="PageLogo-image"
                 src="static/img/basketgate-logo.svg">

        </a>
        </div>



	
	<div class="bg-g1 size1 flex-w flex-col-c-sb p-l-15 p-r-15">

		<div class="flex-col-c w-full p-t-20">
			<h3 class="l1-txt1 txt-center p-b-10 wsize2">Coming  <span style="font-weight:700;">Soon...</span></h3>

			<p class="l1-txt2 txt-center p-b-30 wsize4">Our website is under construction, follow us for update now!
			</p>



			<form class="flex-w flex-c-m w-full contact100-form validate-form">
				<div class="wrap-input100 validate-input where1" data-validate = "Name is required">
					<input class="s1-txt3 placeholder0 input100" type="text" name="name" placeholder="Name">
				</div>

				<div class="wrap-input100 validate-input where1" data-validate = "Email is required: ex@abc.xyz">
					<input class="s1-txt3 placeholder0 input100" type="text" name="email" placeholder="Email">
				</div>
				<button class="flex-c-m s1-txt4 size3 how-btn trans-04 where1">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Get Updates&nbsp;&nbsp;&nbsp;<span style="font-size: 24px;color:white;font-weight:bold;padding-bottom:6px">&rarr;</span>
				</button>
				
			</form>			
		</div>

		<span class="s1-txt2 txt-center">
			@ 2019 BasketGate.ai
		</span>

	</div>



	

<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='js/jquery-3.2.1.min.js')}}"></script>
<!--===============================================================================================-->
   <script src="{{ url_for('static', filename='vendor/bootstrap/js/popper.js')}}"></script>
	<script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.min.js')}}"></script>
<!--===============================================================================================-->
<script src="{{ url_for('static', filename='vendor/select2/select2.min.js')}}"></script>
<!--===============================================================================================-->
<script src="{{ url_for('static', filename='vendor/tilt/tilt.jquery.min.js')}}"></script>
	<script >
		$('.js-tilt').tilt({
			scale: 1.1
		})
	</script>
<!--===============================================================================================-->
<script src="{{ url_for('static', filename='js/main.js')}}"></script>



		<!-- Modal -->
<div class="modal" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document" style="margin:20px;">
    <div class="modal-content">
      <div class="modal-header" style="padding:5px;border-bottom:0px">

        <button type="button" class="close" style="margin-left: auto;margin-right: 0;" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
		<div style="padding-left:15px;padding-right:15px;font-family: Barlow;font-size: 30px;font-weight: 600;font-stretch: normal;font-style: normal;line-height: 1.07;letter-spacing: normal;color: #f45543;">Thank you, it’s a success!</div>
      <div class="modal-body" style="font-family: Alef;font-size: 20px;font-weight: normal;font-stretch: normal;font-style: normal;line-height: 1.15;letter-spacing: normal;color: #2c2378;">
        We will be contacting you soon…
      </div>
      <div class="modal-footer" style="padding:5px;border-top:0px">

		  <button type="button" class="flex-c-m s1-txt4 size3 how-btn trans-04 where1 btn btn-secondary" style="border:0px" data-dismiss="modal">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Close&nbsp;&nbsp;&nbsp;<span style="font-size: 24px;color:white;font-weight:bold;padding-bottom:6px">&rarr;</span>
				</button>
      </div>
    </div>
  </div>
</div>

<!-- //Modal -->


</body>
</html>