<!DOCTYPE html>
<html lang="en">
<head>
    <title>Get It Now</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link href="https://basketgate.ai/favicon.ico" rel="icon" type="image/png">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/animate/animate.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/select2/select2.min.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/util.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <!--===============================================================================================-->
    <link href="https://fonts.googleapis.com/css?family=Barlow&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Alef&display=swap" rel="stylesheet">
    <!--===============================================================================================-->
</head>
<body>


<div id="demo">

</div>


<div class="bg-g1 size1 flex-w flex-col-c-sb p-l-15 p-r-15" name="container" id="container">

    <div class="flex-col-c w-full p-t-56">
        <p class="txt-center l1-txt2 p-b-32 wsize1 ">Save on your next shopping/order.
        </p>
        <h3 class="l1-txt1 txt-center p-b-7 wsize1">$19<br><span style="font-weight:700;">OFF</span></h3>

		<!--<div class="error"></div>-->
		<form class="flex-w flex-c-m w-full contact100-form validate-form">
        <!--<form class="flex-w flex-c-m w-full contact100-form"> -->
            <div class="wrap-input100 validate-input where1 p-b-12" data-validate="Please enter a valid number!">
			 <!--<div class="wrap-input100 validate-input where1 p-b-12">-->
                <input class="s1-txt3 placeholder0 input100" type="number" id="mobile" name="mobile" placeholder="Phone number"
                       maxlength="10" value="">
            </div>

            <p class="txt-left l1-txt2 p-b-100 wsize2">Insert your mobile number and press Get it now…
            </p>
            <button class="flex-c-m s1-txt4 size3 how-btn trans-04 where1" >
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Get It Now&nbsp;&nbsp;&nbsp;<span
                    style="font-size: 24px;color:white">&rarr;</span>
            </button>

        </form>
    </div>


</div>


<!--===============================================================================================-->
<script src="{{ url_for('static', filename='js/jquery-3.2.1.min.js')}}"></script>
<!--===============================================================================================-->
<script src="{{ url_for('static', filename='vendor/bootstrap/js/popper.js')}}"></script>
<!--===============================================================================================-->
<script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.min.js')}}"></script>
<!--===============================================================================================-->
<script src="{{ url_for('static', filename='vendor/select2/select2.min.js')}}"></script>
<!--===============================================================================================-->
<script src="{{ url_for('static', filename='vendor/tilt/tilt.jquery.min.js')}}"></script>
<!--===============================================================================================-->
<script src="{{ url_for('static', filename='js/verification.js')}}"></script>
<!--===============================================================================================-->
	<script >
		$('.js-tilt').tilt({
			scale: 1.1
		})
	</script>
<!--===============================================================================================-->
<script src="{{ url_for('static', filename='js/main.js')}}"></script>

</body>
</html>