<!DOCTYPE html>
<html>
<head>

	<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
<title>Offline to Online - one click</title>
<link href="{{ url_for('static', filename='css/style.css') }}" type="text/css" rel="stylesheet" />
</head>
<body>

	<div class="container">
		<div class="error"></div>
		<form id="frm-mobile-verification">
			<div class="form-heading">Mobile Number Verification</div>

			<div class="form-row">
				<input type="number" id="mobile" class="form-input"
					placeholder="Enter the 10 digit mobile" >
			</div>

			<input type="button" class="btnSubmit" value="Verify me"
				onClick="sendOTP();">
		</form>
	</div>


	<script src="{{ url_for('static', filename="js/jquery-3.2.1.min.js")}}"></script>
    <script src="{{ url_for('static', filename="js/verification.js")}}"></script>
</body>
</html>